

<html>
  <style>
table, th, td {
    border: 1px solid black; 
  }
</style>
 <body>
   <table>
   <th>Id Postagem</th>
   <th>Id Usuario</th>
   <th>Título</th>
   <th>Conteúdo</th>
   <th>Data Criação</th>
   <% for(i in postagens){%>
      <tr>
       <td>
        <%=postagens[i].id%> 
       </td>
       <td>
        <%=postagens[i].id_usuario%> 
       </td>
       <td>
        <%=postagens[i].titulo%> 
       </td>
       <td>
        <%=postagens[i].conteudo%> 
       </td>
       <td>
        <%=postagens[i].data_criacao%> 
       </td>
      </tr>
      <%}%>
    </table>
   
 </body>
</html>
